<!-- page for each individual bikes info--> 
{% extends "home.html" %}
{% block body %}
<!-- dual coloumn for info :)-->
 <div class="two-coloumn">
    <!--img (left side)-->
    <img class="car-img" src = "{{car[7]}}" alt = "{{car[2]}}">
    <!--info (right side)-->
    <div class="info">
        <h1>{{car[2]}}</h1>
        <p><b>Manufacturer:</b> {{car[1]}}</p>
        <p><b>Price:</b> ${{car[5]}}</p>
        <p><b>Top Speed:</b> {{car[4]}}</p>
        <p><b>Acceleration (0-100):</b> {{car[3]}}</p>
        <p><b>Description:</b> {{car[6]}}</p>
    </div>
 </div>
{% endblock %}