<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "https://www.w3schools.com/w3css/4/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "{{url_for('static', filename='style.css')}}">
    <title>Crazy Cars</title>
</head>
<body>
    <!--shared head bar-->
    <header class="w3-container w3-padding-32">
        <div class="title">
            <h1>CARS 4 LIFE</h1>
        </div>
    </header>

    <!--shared nav bar-->
    <div class="w3-bar w3-black" w3>
        <a href="{{url_for('home')}}" class="w3-bar-item w3-button w3-mobile" style="width:12.5%">Home</a>

        <!--Dropdown-->
        <div class="w3-dropdown-hover">
            <button class="w3-button">Manufacturers</button>
            <!--Dropdow links-->
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="{{url_for('manufacturer',id=0)}}" class="w3-bar-item w3-button">Toyota</a>
                <a href="{{url_for('manufacturer',id=1)}}" class="w3-bar-item w3-button">Honda</a>
                <a href="{{url_for('manufacturer',id=2)}}" class="w3-bar-item w3-button">Ford</a>
                <a href="{{url_for('manufacturer',id=3)}}" class="w3-bar-item w3-button">BMW</a>
                <a href="{{url_for('manufacturer',id=4)}}" class="w3-bar-item w3-button">Mercedes-Benz</a>
            </div>
        </div>

        <!--Search bar-->
        <form action="{{url_for('cars_search')}}" >
            <input type="text" name="car" list="car_list" id="car" class="w3-bar-item w3-input" placeholder="Search..">

            <datalist id="car_list">
                {% for car in all_cars %}
                <option value='{{car[2]}}'>
                {% endfor %}
            </datalist>
            <button type="submit" class="w3-bar-item w3-button w3-green">Go</button>
        </form>
    </div>
    {% block body %}
    {% endblock %}
    
</body>
</html>