<!--page for filtering out cars base on their manufacturers-->
{% extends "homepage.html" %}
{% block body %}
<!-- TRIPLE COLOUMN-->
    <div class="triple-coloumn">
        {% for car in Scuttlefish %}
        <!--anchor-->
        <a href="{{url_for('cars',id=car[0])}}">
            <div class="w3-card-4">
            <!--Name-->
                <h1> {{car[2]}}</h1>
                <img src="{{car[7]}}" alt ="{{car[2]}}">
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}